<p>welcome to {{ hotelName }}</p>
<!-- <p>Number of rooms: {{ numberOfRooms }}</p> -->

<!-- Number of rooms: 
<div [innerText]="numberOfRooms"></div> -->

<!-- property binding example:  -->
<!-- box syntax: [property]="expression" -->
<!-- angular will set the innerText property of the div element to the value of numberOfRooms variable. -->
<!-- it allows us to use native HTML properties and bind them to our component's data. -->
<!-- document.getElementById('roomCount').innerText = numberOfRooms; -->

<div [hidden]="hideRooms">
  Number of rooms:

  <div 
  [ngStyle]="{'color': rooms.availableRooms ? 'green' : 'red'}" 
  [innerText]="numberOfRooms">
  </div>
</div>

{{ (rooms.availableRooms ?? 0) > 0 ? rooms.availableRooms : 'No Rooms Available' }}

<!-- {{ roomList | json}} -->
<!-- is used for debugging purposes -->

<div *ngIf="(rooms.availableRooms ?? 0) > 0">
  Rooms List:
  <table>
    <tr>
      <th>Index</th>
      <th>Even/Odd</th>
      <th>Room Number</th>
      <th>Type</th>
      <th>Amenities</th>
      <th>Price</th>
      <th>Check-in Time</th>
      <th>Check-out Time</th>
      <th>Rating</th>
    </tr>

    <tr *ngFor="let room of roomList | slice : 0:3; let e = even; let o = odd; let i = index" [ngClass]="e ? 'even' : 'odd'">
      <td>{{ i + 1 | percent }}</td>
      <td>{{ e ? 'Even' : 'Odd' }}</td>
      <td>{{ room.roomNumber }}</td>
      <td>{{ room.roomType | titlecase }}</td>
      <td>{{ room.amenities | uppercase }}</td>
      <td>{{ room.price | currency: 'GBP' }}</td>
      <td>{{ room.checkinTime | date:'short'}}</td>
      <td>{{ room.checkoutTime | date:'short'}}</td>
      <td>{{ room.rating | number:'1.2-3' : 'en-us' }}</td>
    </tr>
  </table>
</div>

<button (click)="toggle()">Toggle Rooms</button>

<!-- event binding : what is it?
event binding is a way to listen to user interactions and respond to them in our component.
it allows us to bind a method in our component to an event that occurs in the template.
for example, we can bind a click event to a button and call a method in our component when the button is clicked.
the syntax for event binding is: (event)="method()" -->