<p>welcome to {{ hotelName }}</p>
<!-- <p>Number of rooms: {{ numberOfRooms }}</p> -->

<!-- Number of rooms: 
<div [innerText]="numberOfRooms"></div> -->

<!-- property binding example:  -->
<!-- box syntax: [property]="expression" -->
<!-- angular will set the innerText property of the div element to the value of numberOfRooms variable. -->
<!-- it allows us to use native HTML properties and bind them to our component's data. -->
<!-- document.getElementById('roomCount').innerText = numberOfRooms; -->

<div [hidden]="hideRooms">
  Number of rooms:

  <div 
  [ngStyle]="{'color': rooms.availableRooms ? 'green' : 'red'}" 
  [innerText]="numberOfRooms"
  >
  </div>
</div>

{{ (rooms.availableRooms ?? 0) > 0 ? rooms.availableRooms : 'No Rooms Available' }}

<!-- {{ roomList | json}} -->
<!-- is used for debugging purposes -->
<br>
<button (click)="addRoom()">
    Add Room 
</button>

<div *ngIf="selectedRoom">
  {{ selectedRoom | json}}
</div>

<div *ngIf="(rooms.availableRooms ?? 0) > 0">
   <hinv-rooms-list [rooms]="roomList" [title]= "title"
   (selectedRoom)="selectRoom($event)"></hinv-rooms-list>
</div>

<button (click)="toggle()">Toggle Rooms</button>

<!-- event binding : what is it?
event binding is a way to listen to user interactions and respond to them in our component.
it allows us to bind a method in our component to an event that occurs in the template.
for example, we can bind a click event to a button and call a method in our component when the button is clicked.
the syntax for event binding is: (event)="method()" -->